@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242424;

}

.section1 {
    background-color: transparent;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 50px;
    height: 400px;
    border: 1px solid white;
    margin-top: 100px;
}



nav {

    max-width: 900px;
    margin: 0 auto;
    display: flex;
    background-color: #ffffff;
    border-radius: 500px;
    border: 1px solid white;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}

.link1 a {
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 13px;
    background-color: #242424;
    border-radius: 100px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}

.link1 a:hover {
    background-color: #555555;
    color: rgb(0, 0, 0);
    
}



.link2 {
    display: flex;
    gap: 10px;
    background-color: #242424;
    border-radius: 100px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;


}

.link2 a {
    text-decoration: none;

    background-color: transparent;
    /* พื้นหลังโปร่งใส */
    border: 1px solid white;
    /* เส้นขอบสีขาว */
    padding: 10px 15px;
    /* ปรับขนาดปุ่มให้อ้วน (เลขน้อยกว่าโลโก้) */
    border-radius: 100px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;

}

.link2 a.active {
    background-color: white;
    /* พื้นหลังสีขาว */
    color: #242424;
    /* ตัวอักษรสีดำ */
}

.link2 a:hover {
    background-color: #555555;
    color: white;
}

.text {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;

}


.in {
    margin-left: 10px;
    width: 40%;
    margin-left: 10px;
    margin-top: 10px;

}








.text2 {

    max-width: 900px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

.text2:hover {
    transform: scale(1.01);
}

.box {
    display: flex;
    color: #ffffff;
}

.box1 {
    width: 50%;
    margin-left: 30px;
}

.box1 h1 {
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    font-size: 50px;
    padding-bottom: 0;
}

.box1 h4 {
    font-family: "Poppins", sans-serif;
    margin-top: 1px;
    font-size: 20px;
}


.box1 p {
    margin-top: 1px;
    font-size: 12px;

    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
}

.box2 {
    margin-top: 40px;
    width: 50%;
}

.box2 img{
    width: 100%;
    height: auto;
}

.box2 img:hover {
    transform: scale(1.01);
}

.box1 a {
    background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 8px 64px;
  border-radius:50px ;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.box a:hover {
    background-color: #555555;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}


ul {
    list-style-type: none;
    margin-top: 20px;
    
}

li {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    

}



li span {
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

li img {
    width: 24px;   /* *สำคัญมาก* บังคับความกว้างให้เท่ากันเป๊ะๆ */
    height: 24px;  /* บังคับความสูงด้วยเลย */
    object-fit: contain;
}