@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242424;
    
}

.section1 {
    background-color: transparent;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 50px;
    height: 400px;
    border: 1px solid white;
    margin-top: 100px;
}



nav {
    
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    background-color: #ffffff;
    border-radius: 500px;
    border: 1px solid white;
    justify-content: space-between;
    align-items: center;
}

.link1 a{
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 13px;
    background-color: #242424;
    border-radius: 100px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    
} 

.link1 a:hover {
    background-color: #555555;
    color: rgb(0, 0, 0);
    
}



.link2 {
    display: flex;  
    gap: 10px;
    background-color: #242424;
    border-radius: 100px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    
    
}

.link2 a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* ตัวอักษรสีขาว */
    background-color: transparent; /* พื้นหลังโปร่งใส */
    border: 1px solid white; /* เส้นขอบสีขาว */
    padding: 10px 20px; /* ปรับขนาดปุ่มให้อ้วน (เลขน้อยกว่าโลโก้) */
    border-radius: 100px; 
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    padding: 5px 15px;
}

.link2 a.active {
    background-color: white; /* พื้นหลังสีขาว */
    color: #242424; /* ตัวอักษรสีดำ */
}

.link2 a:hover {
    background-color: #555555;
    color: white;
}

.text {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #ffffff;
    align-items: center;
    margin-top: 50px;
}

.text h1 {
    font-size: 90px; /* ตั้งขนาดที่ต้องการ (อิงจากดีไซน์) */
    
    
}

/* สไตล์ลูกคนที่ 2 (ชื่อ) */
.text h2 {
    font-size: 60px; /* ตั้งขนาดที่เล็กกว่า h1 */
    
}

.text2 {
    
    max-width: 900px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

.text2:hover {
    transform: scale(1.01);
}


